<%- include('../partials/header', { title: title }) %>
<div class="container mt-4">
  <h1><%= title %></h1>
  <a href="/ganadero/hierros" class="btn btn-primary mt-3">Mis Hierros</a>
</div>
<%- include('../partials/footer') %>
